@import "../../index.scss";

.grid {
	display: grid;
	grid-gap: 1px;
	border-left: 1px solid $color-grid;

	&--item {
		background-color: $color-white;
	}
}

.mg-l-50 {
	margin-left: 50px;
}


.home {
	height: 100vh;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: 120px 1fr;

	&--item-1 {
		grid-area: 1 / 1 / 2 / 3;

	}

	&--item-2 {
		grid-area: 2 / 1 / 3 / 2;
	}

	&--item-3 {
		grid-area: 2 / 2 / 3 / 3;
	}

}